<a href="https://colab.research.google.com/github/LeoHanSung/SinChon8/blob/master/namho/corona_namho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.rc("font", family = "Malgun Gothic")

# 글씨가 뭉게져서 보이는 것 같으면 아래의 설정을 통해서 개선할 수 있음
from IPython.display import display
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')

from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [19]:
trend = pd.read_csv('./gdrive/My Drive/SinChon8/kaggle/Corona/trend.csv')
patient = pd.read_csv('./gdrive/My Drive/SinChon8/kaggle/Corona/patient.csv')
time = pd.read_csv('./gdrive/My Drive/SinChon8/kaggle/Corona/time.csv')
route = pd.read_csv('./gdrive/My Drive/SinChon8/kaggle/Corona/route.csv')


display(trend.head(3))
display(patient.head(3))
display(time.head(3))
display(route.head(3))

         date     cold      flu  pneumonia  coronavirus
0  2019-12-07  0.12408  0.24699    0.22144      0.01309
1  2019-12-08  0.11863  0.25390    0.19617      0.00836
2  2019-12-09  0.16308  0.47880    0.33180      0.01272

   id     sex  birth_year  ... released_date deceased_date     state
0   1  female      1984.0  ...    2020-02-06           NaN  released
1   2    male      1964.0  ...    2020-02-05           NaN  released
2   3    male      1966.0  ...    2020-02-12           NaN  released

[3 rows x 15 columns]

         date  time  acc_test  ...  new_confirmed  new_released  new_deceased
0  2020-01-20    16         1  ...              1             0             0
1  2020-01-21    16         1  ...              0             0             0
2  2020-01-22    16         4  ...              0             0             0

[3 rows x 12 columns]

   id        date     province  ...              visit   latitude   longitude
0   1  2020-01-19      Incheon  ...            airport  37.460459  126.440680
1   1  2020-01-20      Incheon  ...  hospital_isolated  37.478832  126.668558
2   2  2020-01-22  Gyeonggi-do  ...            airport  37.562143  126.801884

[3 rows x 7 columns]

In [21]:
trend.isnull().sum() #checking for total null values

date           0
cold           0
flu            0
pneumonia      0
coronavirus    0
dtype: int64

In [23]:
time.isnull().sum() #checking for total null values

date             0
time             0
acc_test         0
acc_negative     0
acc_confirmed    0
acc_released     0
acc_deceased     0
new_test         0
new_negative     0
new_confirmed    0
new_released     0
new_deceased     0
dtype: int64

In [24]:
route.isnull().sum() #checking for total null values

id           0
date         0
province     0
city         0
visit        0
latitude     0
longitude    0
dtype: int64

In [25]:
patient.isnull().sum() #checking for total null values

id                     0
sex                 6337
birth_year          6350
country                1
region              6349
disease             6741
group               6684
infection_reason    6623
infection_order     6732
infected_by         6697
contact_number      6717
confirmed_date         1
released_date       6712
deceased_date       6735
state                  1
dtype: int64