<a href="https://colab.research.google.com/github/LeoHanSung/SinChon8/blob/master/hansung/corona.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
hansung/corona.ipynb

NameError: ignored

In [0]:
# data analysis and wrangling
import pandas as pd
import numpy as np

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC

In [25]:
print(patientDF.columns.values)

['patient_id' 'sex' 'birth_year' 'country' 'region' 'disease' 'group'
 'infection_reason' 'infection_order' 'infected_by' 'contact_number'
 'confirmed_date' 'released_date' 'deceased_date' 'state']

In [4]:
from google.colab import drive
import pandas as pd

drive.mount('/content/gdrive')

patientDF = pd.read_csv('/content/gdrive/My Drive/SinChon8/kaggle/Corona/patient.csv')

# sex, region, disease, infection_reason, infection_order, infected_by, contact_number, 

patientDF.head(200)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

     patient_id     sex  birth_year  ... released_date deceased_date     state
0             1  female      1984.0  ...    2020-02-06           NaN  released
1             2    male      1964.0  ...    2020-02-05           NaN  released
2             3    male      1966.0  ...    2020-02-12           NaN  released
3             4    male      1964.0  ...    2020-02-09           NaN  released
4             5    male      1987.0  ...    2020-03-02           NaN  released
..          ...     ...         ...  ...           ...           ...       ...
195         196    male      1996.0  ...           NaN           NaN  isolated
196         197  female      1960.0  ...           NaN           NaN  isolated
197         198  female      1978.0  ...           NaN           NaN  isolated
198         199  female      1969.0  ...           NaN           NaN  isolated
199         200  female      1966.0  ...           NaN           NaN  isolated

[200 rows x 15 columns]

In [5]:
patientDF.count()

patient_id          7869
sex                  679
birth_year           666
country             7869
region               437
disease               28
group                 86
infection_reason     154
infection_order       36
infected_by           70
contact_number        53
confirmed_date      7869
released_date         56
deceased_date         36
state               7869
dtype: int64

In [9]:
patientDF.isna().sum()

patient_id             0
sex                 7190
birth_year          7203
country                0
region              7432
disease             7841
group               7783
infection_reason    7715
infection_order     7833
infected_by         7799
contact_number      7816
confirmed_date         0
released_date       7813
deceased_date       7833
state                  0
dtype: int64

In [26]:
patientDF.shape

(7869, 15)

In [27]:
patientDF.describe()

        patient_id   birth_year  ...  infected_by  contact_number
count  7869.000000   666.000000  ...    70.000000       53.000000
mean   3935.000000  1974.271772  ...   379.000000       67.849057
std    2271.728967    17.423250  ...   540.247528      177.723575
min       1.000000  1929.000000  ...     3.000000        0.000000
25%    1968.000000  1962.000000  ...    29.250000        3.000000
50%    3935.000000  1974.000000  ...   126.000000       17.000000
75%    5902.000000  1990.000000  ...   563.250000       45.000000
max    7869.000000  2018.000000  ...  2621.000000     1160.000000

[8 rows x 6 columns]

In [28]:
patientDF.describe(include='all')

         patient_id     sex   birth_year  ... released_date deceased_date     state
count   7869.000000     679   666.000000  ...            56            36      7869
unique          NaN       2          NaN  ...            21            16         3
top             NaN  female          NaN  ...    2020-03-04    2020-03-05  isolated
freq            NaN     393          NaN  ...            11             6      7777
mean    3935.000000     NaN  1974.271772  ...           NaN           NaN       NaN
std     2271.728967     NaN    17.423250  ...           NaN           NaN       NaN
min        1.000000     NaN  1929.000000  ...           NaN           NaN       NaN
25%     1968.000000     NaN  1962.000000  ...           NaN           NaN       NaN
50%     3935.000000     NaN  1974.000000  ...           NaN           NaN       NaN
75%     5902.000000     NaN  1990.000000  ...           NaN           NaN       NaN
max     7869.000000     NaN  2018.000000  ...           NaN           NaN       NaN

[11 rows x 15 columns]

In [29]:
patientDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7869 entries, 0 to 7868
Data columns (total 15 columns):
patient_id          7869 non-null int64
sex                 679 non-null object
birth_year          666 non-null float64
country             7869 non-null object
region              437 non-null object
disease             28 non-null float64
group               86 non-null object
infection_reason    154 non-null object
infection_order     36 non-null float64
infected_by         70 non-null float64
contact_number      53 non-null float64
confirmed_date      7869 non-null object
released_date       56 non-null object
deceased_date       36 non-null object
state               7869 non-null object
dtypes: float64(5), int64(1), object(9)
memory usage: 922.3+ KB

In [0]:
patientDF['sex'].dropna()

In [0]:
fig = plt.figure() 
a1 = fig.add_subplot(1, 1, 1) 
a1.hist(patientDF['sex'].dropna(), bins=20)  ### 막대그래프가 hist

In [10]:
routeDF = pd.read_csv('/content/gdrive/My Drive/SinChon8/kaggle/Corona/time.csv')

routeDF.head(20)

          date  time  test  ...  Gyeongsangbuk-do  Gyeongsangnam-do  Jeju-do
0   2020-01-20    16     1  ...                 0                 0        0
1   2020-01-21    16     1  ...                 0                 0        0
2   2020-01-22    16     4  ...                 0                 0        0
3   2020-01-23    16    22  ...                 0                 0        0
4   2020-01-24    16    27  ...                 0                 0        0
5   2020-01-25    16    27  ...                 0                 0        0
6   2020-01-26    16    51  ...                 0                 0        0
7   2020-01-27    16    61  ...                 0                 0        0
8   2020-01-28    16   116  ...                 0                 0        0
9   2020-01-29    16   187  ...                 0                 0        0
10  2020-01-30    16   246  ...                 0                 0        0
11  2020-01-31    16   312  ...                 0                 0        0
12  2020-02-01    16   371  ...                 0                 0        0
13  2020-02-02    16   429  ...                 0                 0        0
14  2020-02-03    16   490  ...                 0                 0        0
15  2020-02-04    16   607  ...                 0                 0        0
16  2020-02-05    16   714  ...                 0                 0        0
17  2020-02-06    16   885  ...                 0                 0        0
18  2020-02-07    16  1352  ...                 0                 0        0
19  2020-02-08    16  2097  ...                 0                 0        0

[20 rows x 24 columns]

In [11]:
routeDF.isna().sum()

date                 0
time                 0
test                 0
negative             0
confirmed            0
released             0
deceased             0
Seoul                0
Busan                0
Daegu                0
Incheon              0
Gwangju              0
Daejeon              0
Ulsan                0
Sejong               0
Gyeonggi-do          0
Gangwon-do           0
Chungcheongbuk-do    0
Chungcheongnam-do    0
Jeollabuk-do         0
Jeollanam-do         0
Gyeongsangbuk-do     0
Gyeongsangnam-do     0
Jeju-do              0
dtype: int64

In [15]:
routeDF.isna().sum()

date                 0
time                 0
test                 0
negative             0
confirmed            0
released             0
deceased             0
Seoul                0
Busan                0
Daegu                0
Incheon              0
Gwangju              0
Daejeon              0
Ulsan                0
Sejong               0
Gyeonggi-do          0
Gangwon-do           0
Chungcheongbuk-do    0
Chungcheongnam-do    0
Jeollabuk-do         0
Jeollanam-do         0
Gyeongsangbuk-do     0
Gyeongsangnam-do     0
Jeju-do              0
dtype: int64

In [12]:
timeDF = pd.read_csv('/content/gdrive/My Drive/SinChon8/kaggle/Corona/time.csv')

timeDF.head(20)

          date  time  test  ...  Gyeongsangbuk-do  Gyeongsangnam-do  Jeju-do
0   2020-01-20    16     1  ...                 0                 0        0
1   2020-01-21    16     1  ...                 0                 0        0
2   2020-01-22    16     4  ...                 0                 0        0
3   2020-01-23    16    22  ...                 0                 0        0
4   2020-01-24    16    27  ...                 0                 0        0
5   2020-01-25    16    27  ...                 0                 0        0
6   2020-01-26    16    51  ...                 0                 0        0
7   2020-01-27    16    61  ...                 0                 0        0
8   2020-01-28    16   116  ...                 0                 0        0
9   2020-01-29    16   187  ...                 0                 0        0
10  2020-01-30    16   246  ...                 0                 0        0
11  2020-01-31    16   312  ...                 0                 0        0
12  2020-02-01    16   371  ...                 0                 0        0
13  2020-02-02    16   429  ...                 0                 0        0
14  2020-02-03    16   490  ...                 0                 0        0
15  2020-02-04    16   607  ...                 0                 0        0
16  2020-02-05    16   714  ...                 0                 0        0
17  2020-02-06    16   885  ...                 0                 0        0
18  2020-02-07    16  1352  ...                 0                 0        0
19  2020-02-08    16  2097  ...                 0                 0        0

[20 rows x 24 columns]

In [13]:
timeDF.count()

date                 53
time                 53
test                 53
negative             53
confirmed            53
released             53
deceased             53
Seoul                53
Busan                53
Daegu                53
Incheon              53
Gwangju              53
Daejeon              53
Ulsan                53
Sejong               53
Gyeonggi-do          53
Gangwon-do           53
Chungcheongbuk-do    53
Chungcheongnam-do    53
Jeollabuk-do         53
Jeollanam-do         53
Gyeongsangbuk-do     53
Gyeongsangnam-do     53
Jeju-do              53
dtype: int64

In [16]:
timeDF.isna().sum()

date                 0
time                 0
test                 0
negative             0
confirmed            0
released             0
deceased             0
Seoul                0
Busan                0
Daegu                0
Incheon              0
Gwangju              0
Daejeon              0
Ulsan                0
Sejong               0
Gyeonggi-do          0
Gangwon-do           0
Chungcheongbuk-do    0
Chungcheongnam-do    0
Jeollabuk-do         0
Jeollanam-do         0
Gyeongsangbuk-do     0
Gyeongsangnam-do     0
Jeju-do              0
dtype: int64

In [17]:
trendDF = pd.read_csv('/content/gdrive/My Drive/SinChon8/kaggle/Corona/trend.csv')

trendDF.head(20)

          date     cold      flu  pneumonia  coronavirus
0   2019-12-07  0.12408  0.24699    0.22144      0.01309
1   2019-12-08  0.11863  0.25390    0.19617      0.00836
2   2019-12-09  0.16308  0.47880    0.33180      0.01272
3   2019-12-10  0.13981  0.40789    0.30671      0.01881
4   2019-12-11  0.13972  0.39007    0.30299      0.01854
5   2019-12-12  0.13954  0.38226    0.30526      0.01990
6   2019-12-13  0.14217  0.44098    0.28344      0.01881
7   2019-12-14  0.11363  0.35898    0.21672      0.01499
8   2019-12-15  0.12445  0.35189    0.20381      0.01163
9   2019-12-16  0.16417  0.66434    0.33217      0.01536
10  2019-12-17  0.16172  0.59634    0.30362      0.02245
11  2019-12-18  0.15063  0.56607    0.29180      0.01999
12  2019-12-19  0.16935  0.56161    0.28608      0.01890
13  2019-12-20  0.15226  0.50853    0.26899      0.01854
14  2019-12-21  0.12899  0.43062    0.22490      0.01599
15  2019-12-22  0.14090  0.44362    0.19190      0.01427
16  2019-12-23  0.19126  0.75988    0.30080      0.01772
17  2019-12-24  0.15881  0.60034    0.26544      0.02418
18  2019-12-25  0.15608  0.41498    0.19963      0.01163
19  2019-12-26  0.18417  0.83261    0.29299      0.01518

In [18]:
trendDF.count()

date           96
cold           96
flu            96
pneumonia      96
coronavirus    96
dtype: int64

In [19]:
trendDF.isna().sum()

date           0
cold           0
flu            0
pneumonia      0
coronavirus    0
dtype: int64

In [21]:
caseDF = pd.read_csv('/content/gdrive/My Drive/SinChon8/kaggle/Corona/case.csv')

caseDF.head(20)

    case_id province             city  ...  confirmed   latitude   longitude
0         1    Seoul          Guro-gu  ...         70  37.508163  126.884387
1         2    Seoul     Eunpyeong-gu  ...         14   37.63369    126.9165
2         3    Seoul     Seongdong-gu  ...         13   37.55713    127.0403
3         4    Seoul        Jongno-gu  ...         10   37.57681     127.006
4         5    Seoul    Dongdaemun-gu  ...          9  37.592888  127.056766
5         6    Seoul          Jung-gu  ...          7  37.562405  126.984377
6         7    Seoul  from other city  ...          6          -           -
7         8    Seoul                -  ...         46          -           -
8         9    Busan       Dongnae-gu  ...         34   35.21628    129.0771
9        10    Busan  from other city  ...         10          -           -
10       11    Busan       Suyeong-gu  ...          6   35.16708    129.1124
11       12    Busan      Haeundae-gu  ...          6   35.20599    129.1256
12       13    Busan           Jin-gu  ...          4   35.17371    129.0633
13       14    Busan  from other city  ...          1          -           -
14       15    Busan                -  ...         29          -           -
15       16    Daegu           Nam-gu  ...       4126   35.84008    128.5667
16       17    Daegu                -  ...        680          -           -
17       18    Daegu  from other city  ...          2          -           -
18       19    Daegu                -  ...       1059          -           -
19       20  Incheon  from other city  ...         15          -           -

[20 rows x 8 columns]

In [23]:
caseDF.count()

case_id           78
province          78
city              78
group             78
infection_case    78
confirmed         78
latitude          78
longitude         78
dtype: int64

In [24]:
caseDF.isna().sum()

case_id           0
province          0
city              0
group             0
infection_case    0
confirmed         0
latitude          0
longitude         0
dtype: int64