In [1]:
# 세계 확진자 및 사망자수 정리

In [ ]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("./covid19-global-forecasting-week-1/train.csv", index_col='Id')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16756 entries, 1 to 26378
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  7670 non-null   object
 1   Country/Region  16756 non-null  object
 2   Lat             16697 non-null  float64
 3   Long            16697 non-null  float64
 4   Date            16756 non-null  object
 5   ConfirmedCases  16756 non-null  float64
 6   Fatalities      16756 non-null  float64
dtypes: float64(4), object(3)
memory usage: 1.0+ MB

In [4]:
data.head()

,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities
Id,,,,,,,
1,NaN,Afghanistan,33.0,65.0,2020-01-22,0.0,0.0
2,NaN,Afghanistan,33.0,65.0,2020-01-23,0.0,0.0
3,NaN,Afghanistan,33.0,65.0,2020-01-24,0.0,0.0
4,NaN,Afghanistan,33.0,65.0,2020-01-25,0.0,0.0
5,NaN,Afghanistan,33.0,65.0,2020-01-26,0.0,0.0

In [5]:
data.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', 'Date',
       'ConfirmedCases', 'Fatalities'],
      dtype='object')

In [6]:
# null 값은 0으로 대체
data.fillna(0, inplace=True)

In [7]:
for i in range(len(data)):    
    if data['Province/State'].iloc[i]==0:
        #print(data['Province/State'].iloc[i])
        data['Province/State'].iloc[i]=data['Country/Region'].iloc[i]
        
    else:
        #print(data['Province/State'].iloc[i])
        data['Province/State'].iloc[i]=data['Country/Region'].iloc[i]+"_"+data['Province/State'].iloc[i]
data.head()

c:\users\hans\.conda\envs\tf2\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities
Id,,,,,,,
1,Afghanistan,Afghanistan,33.0,65.0,2020-01-22,0.0,0.0
2,Afghanistan,Afghanistan,33.0,65.0,2020-01-23,0.0,0.0
3,Afghanistan,Afghanistan,33.0,65.0,2020-01-24,0.0,0.0
4,Afghanistan,Afghanistan,33.0,65.0,2020-01-25,0.0,0.0
5,Afghanistan,Afghanistan,33.0,65.0,2020-01-26,0.0,0.0

In [8]:
countries = data['Province/State'].unique()
countries, type(countries), len(countries)

(array(['Afghanistan', 'Albania', 'Algeria', 'Andorra',
        'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
        'Australia_Australian Capital Territory',
        'Australia_From Diamond Princess', 'Australia_New South Wales',
        'Australia_Northern Territory', 'Australia_Queensland',
        'Australia_South Australia', 'Australia_Tasmania',
        'Australia_Victoria', 'Australia_Western Australia', 'Austria',
        'Azerbaijan', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
        'Belgium', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
        'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Cambodia',
        'Cameroon', 'Canada_Alberta', 'Canada_British Columbia',
        'Canada_Grand Princess', 'Canada_Manitoba', 'Canada_New Brunswick',
        'Canada_Newfoundland and Labrador', 'Canada_Nova Scotia',
        'Canada_Ontario', 'Canada_Prince Edward Island', 'Canada_Quebec',
        'Canada_Saskatchewan', 'Central African Republic', 'Chile',
        'China_Anhui', 'China_Beijing', 'China_Chongqing', 'China_Fujian',
        'China_Gansu', 'China_Guangdong', 'China_Guangxi', 'China_Guizhou',
        'China_Hainan', 'China_Hebei', 'China_Heilongjiang', 'China_Henan',
        'China_Hong Kong', 'China_Hubei', 'China_Hunan',
        'China_Inner Mongolia', 'China_Jiangsu', 'China_Jiangxi',
        'China_Jilin', 'China_Liaoning', 'China_Macau', 'China_Ningxia',
        'China_Qinghai', 'China_Shaanxi', 'China_Shandong',
        'China_Shanghai', 'China_Shanxi', 'China_Sichuan', 'China_Tianjin',
        'China_Tibet', 'China_Xinjiang', 'China_Yunnan', 'China_Zhejiang',
        'Colombia', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
        'Costa Rica', "Cote d'Ivoire", 'Croatia',
        'Cruise Ship_Diamond Princess', 'Cuba', 'Cyprus', 'Czechia',
        'Denmark_Denmark', 'Denmark_Faroe Islands', 'Djibouti',
        'Dominican Republic', 'Ecuador', 'Egypt', 'Equatorial Guinea',
        'Estonia', 'Eswatini', 'Ethiopia', 'Finland', 'France_France',
        'France_French Guiana', 'France_French Polynesia',
        'France_Guadeloupe', 'France_Mayotte', 'France_Reunion',
        'France_Saint Barthelemy', 'France_St Martin', 'French Guiana',
        'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
        'Greenland', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey',
        'Guinea', 'Guyana', 'Holy See', 'Honduras', 'Hungary', 'Iceland',
        'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
        'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya',
        'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Latvia',
        'Lebanon', 'Liberia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
        'Malaysia', 'Maldives', 'Malta', 'Martinique', 'Mauritania',
        'Mauritius', 'Mayotte', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
        'Montenegro', 'Morocco', 'Namibia', 'Nepal', 'Netherlands_Aruba',
        'Netherlands_Curacao', 'Netherlands_Netherlands', 'New Zealand',
        'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan',
        'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
        'Puerto Rico', 'Qatar', 'Republic of the Congo', 'Reunion',
        'Romania', 'Russia', 'Rwanda', 'Saint Lucia',
        'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia',
        'Senegal', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
        'Slovenia', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
        'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Taiwan*',
        'Tanzania', 'Thailand', 'The Bahamas', 'The Gambia', 'Togo',
        'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US_Alabama',
        'US_Alaska', 'US_Arizona', 'US_Arkansas', 'US_California',
        'US_Colorado', 'US_Connecticut', 'US_Delaware',
        'US_Diamond Princess', 'US_District of Columbia', 'US_Florida',
        'US_Georgia', 'US_Grand Princess', 'US_Guam', 'US_Hawaii',
        'US_Idaho', 'US_Illinois', 'US_Indiana', 'US_Iowa', 'US_Kansas',
        'US_Kentucky', 'US_Louisiana', 'US_Maine', 'US_Maryland',
        'US_Massachusetts', 'US_Michigan', 'US_Minnesota',
        'US_Mississippi', 'US_Missouri', 'US_Montana', 'US_Nebraska',
        'US_Nevada', 'US_New Hampshire', 'US_New Jersey', 'US_New Mexico',
        'US_New York', 'US_North Carolina', 'US_North Dakota', 'US_Ohio',
        'US_Oklahoma', 'US_Oregon', 'US_Pennsylvania', 'US_Puerto Rico',
        'US_Rhode Island', 'US_South Carolina', 'US_South Dakota',
        'US_Tennessee', 'US_Texas', 'US_US',
        'US_United States Virgin Islands', 'US_Utah', 'US_Vermont',
        'US_Virgin Islands', 'US_Virginia', 'US_Washington',
        'US_West Virginia', 'US_Wisconsin', 'US_Wyoming', 'Ukraine',
        'United Arab Emirates', 'United Kingdom_Cayman Islands',
        'United Kingdom_Channel Islands', 'United Kingdom_Gibraltar',
        'United Kingdom_Montserrat', 'United Kingdom_United Kingdom',
        'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Zambia'],
       dtype=object),
 numpy.ndarray,
 284)

In [9]:
data['Province/State'].value_counts()

Jamaica                  59
Aruba                    59
Republic of the Congo    59
Afghanistan              59
US_Grand Princess        59
                         ..
Canada_Manitoba          59
Greece                   59
China_Liaoning           59
Martinique               59
China_Sichuan            59
Name: Province/State, Length: 284, dtype: int64

In [10]:
total_list = list()

for country in countries:    
    tmp = []
    for i in range(len(data)):                
        if data['Province/State'].iloc[i]==country:            
            #print(data['Country/Region'].iloc[i])
            tmp.append(data.iloc[i])        
    total_list.append(tmp)
len(total_list)

284

In [27]:
index = data['Date'].unique()
index

array(['2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25',
       '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29',
       '2020-01-30', '2020-01-31', '2020-02-01', '2020-02-02',
       '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06',
       '2020-02-07', '2020-02-08', '2020-02-09', '2020-02-10',
       '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14',
       '2020-02-15', '2020-02-16', '2020-02-17', '2020-02-18',
       '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22',
       '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26',
       '2020-02-27', '2020-02-28', '2020-02-29', '2020-03-01',
       '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05',
       '2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09',
       '2020-03-10', '2020-03-11', '2020-03-12', '2020-03-13',
       '2020-03-14', '2020-03-15', '2020-03-16', '2020-03-17',
       '2020-03-18', '2020-03-19', '2020-03-20'], dtype=object)

In [25]:
ConfirmedCases_dict = {"Date":index}
Fatalities_dict = {"Date":index}

for country in countries:    
    ConfirmedCases_list=list()
    Fatalities_list=list()
    for i in range(len(data)):                
        if data['Province/State'].iloc[i]==country:
            ConfirmedCases_list.append(data['ConfirmedCases'].iloc[i])
            Fatalities_list.append(data['ConfirmedCases'].iloc[i])
            
    ConfirmedCases_dict[country]=ConfirmedCases_list
    Fatalities_dict[country]=Fatalities_list
    
len(ConfirmedCases_dict)

285

In [29]:
ConfirmedCases = pd.DataFrame(ConfirmedCases_dict)
Fatalities = pd.DataFrame(Fatalities_dict)
ConfirmedCases.set_index("Date", inplace=True)
Fatalities.set_index("Date", inplace=True)
#df['e'] = df.sum(axis=1)
ConfirmedCases['sum'] = ConfirmedCases.sum(axis=1)
Fatalities['sum'] = Fatalities.sum(axis=1)
ConfirmedCases['sum'].head(), Fatalities['sum'].head()
ConfirmedCases.head(1), Fatalities.head(1)

(            Afghanistan  Albania  Algeria  Andorra  Antigua and Barbuda  \
 Date
 2020-01-22          0.0      0.0      0.0      0.0                  0.0
 2020-01-23          0.0      0.0      0.0      0.0                  0.0
 2020-01-24          0.0      0.0      0.0      0.0                  0.0
 2020-01-25          0.0      0.0      0.0      0.0                  0.0
 2020-01-26          0.0      0.0      0.0      0.0                  0.0

             Argentina  Armenia  Aruba  Australia_Australian Capital Territory  \
 Date
 2020-01-22        0.0      0.0    0.0                                     0.0
 2020-01-23        0.0      0.0    0.0                                     0.0
 2020-01-24        0.0      0.0    0.0                                     0.0
 2020-01-25        0.0      0.0    0.0                                     0.0
 2020-01-26        0.0      0.0    0.0                                     0.0

             Australia_From Diamond Princess  ...  \
 Date                                         ...
 2020-01-22                              0.0  ...
 2020-01-23                              0.0  ...
 2020-01-24                              0.0  ...
 2020-01-25                              0.0  ...
 2020-01-26                              0.0  ...

             United Kingdom_Channel Islands  United Kingdom_Gibraltar  \
 Date
 2020-01-22                             0.0                       0.0
 2020-01-23                             0.0                       0.0
 2020-01-24                             0.0                       0.0
 2020-01-25                             0.0                       0.0
 2020-01-26                             0.0                       0.0

             United Kingdom_Montserrat  United Kingdom_United Kingdom  Uruguay  \
 Date
 2020-01-22                        0.0                            0.0      0.0
 2020-01-23                        0.0                            0.0      0.0
 2020-01-24                        0.0                            0.0      0.0
 2020-01-25                        0.0                            0.0      0.0
 2020-01-26                        0.0                            0.0      0.0

             Uzbekistan  Venezuela  Vietnam  Zambia     sum
 Date
 2020-01-22         0.0        0.0      0.0     0.0   554.0
 2020-01-23         0.0        0.0      2.0     0.0   652.0
 2020-01-24         0.0        0.0      2.0     0.0   939.0
 2020-01-25         0.0        0.0      2.0     0.0  1432.0
 2020-01-26         0.0        0.0      2.0     0.0  2113.0

 [5 rows x 285 columns],
             Afghanistan  Albania  Algeria  Andorra  Antigua and Barbuda  \
 Date
 2020-01-22          0.0      0.0      0.0      0.0                  0.0
 2020-01-23          0.0      0.0      0.0      0.0                  0.0
 2020-01-24          0.0      0.0      0.0      0.0                  0.0
 2020-01-25          0.0      0.0      0.0      0.0                  0.0
 2020-01-26          0.0      0.0      0.0      0.0                  0.0

             Argentina  Armenia  Aruba  Australia_Australian Capital Territory  \
 Date
 2020-01-22        0.0      0.0    0.0                                     0.0
 2020-01-23        0.0      0.0    0.0                                     0.0
 2020-01-24        0.0      0.0    0.0                                     0.0
 2020-01-25        0.0      0.0    0.0                                     0.0
 2020-01-26        0.0      0.0    0.0                                     0.0

             Australia_From Diamond Princess  ...  \
 Date                                         ...
 2020-01-22                              0.0  ...
 2020-01-23                              0.0  ...
 2020-01-24                              0.0  ...
 2020-01-25                              0.0  ...
 2020-01-26                              0.0  ...

             United Kingdom_Channel Islands  United Kingdom_Gibraltar  \
 Date
 2020-01-22                             0.0                       0.0
 2020-01-23                             0.0                       0.0
 2020-01-24                             0.0                       0.0
 2020-01-25                             0.0                       0.0
 2020-01-26                             0.0                       0.0

             United Kingdom_Montserrat  United Kingdom_United Kingdom  Uruguay  \
 Date
 2020-01-22                        0.0                            0.0      0.0
 2020-01-23                        0.0                            0.0      0.0
 2020-01-24                        0.0                            0.0      0.0
 2020-01-25                        0.0                            0.0      0.0
 2020-01-26                        0.0                            0.0      0.0

             Uzbekistan  Venezuela  Vietnam  Zambia     sum
 Date
 2020-01-22         0.0        0.0      0.0     0.0   554.0
 2020-01-23         0.0        0.0      2.0     0.0   652.0
 2020-01-24         0.0        0.0      2.0     0.0   939.0
 2020-01-25         0.0        0.0      2.0     0.0  1432.0
 2020-01-26         0.0        0.0      2.0     0.0  2113.0

 [5 rows x 285 columns])

In [31]:
# 일자별 세계 확진자수, 사망자수 CSV 파일로 저장
ConfirmedCases.to_csv("ConfirmedCases.csv",)
Fatalities.to_csv("Fatalities.csv")